*{
  padding: 0px;
  margin: 0px;
}


body{
  overflow-x:hidden;
  overflow-y: hidden;
}
canvas{
  min-width: 100vw;
  min-height: 9vh;
  max-width: 100%;
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.panel{
   z-index: 99 !important;
   font-size: 1.5vmin;
background: rgba(100,100,100,0.6);
color: #fff;
padding: 1em 2em;
position: fixed;
line-height: 140%;
}

#stats{
top: 2vmin;
left: 2vmin;
width: 20vmin;
}


#controls{
top: 2vmin;
right: 2vmin;
width: 20vmin;
}
